div.contactformpro {
	border:1px solid #060;
    background-color:#FFF;
    background:#fff url(../../contactform2/css/images/fade-green.jpg) repeat-x left top;
    color:#000;
    padding:20px;   
    font-family: arial, sans-serif;
}
div.contactformpro td, 
div.contactformpro p, 
div.contactformpro label{
    font-size:12px;
    color:#000;
}
div.contactformpro td{
    padding: 4px;
}
div.contactformpro input {
    font-size:12px;
    color:#000;
}
div.contactformpro p{
    margin-bottom:10px;
}
div.contactformpro h2 {
    color:#000;
    font-size:18px;
    line-height:22px;
    border-bottom:1px solid #000;
    margin-bottom:11px;
    padding-bottom:4px;
}
.required_star {
	color:#F00;
}