body{
 font-family: Arial;
 font-size: 11px;
 background-color: #FFFFFF;
 color: #333333;
}
#loading{position:absolute;left:310px;top:220px;padding:2px;z-index:20001;height:auto;border:0px solid #ccc;width: 408px}
#loading a {color:#225588}
#loading .loading-indicator{background:white;color:#444;font:bold 13px tahoma,arial,helvetica;padding:10px;margin:0;height:auto}
#loading-msg {font: normal 10px arial,tahoma,sans-serif}
.ico-leaf{
 background-image:url(../../contactform2/ext-2.0/resources/images/default/tree/leaf.gif)
 }
.ico-open{
    background-image: url(../../contactform2/ext-2.0/resources/images/default/tree/folder-open.gif);
    }
.ico-fields{
 background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-fields.gif);
 }
.ico-properties{
 background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-settings.gif);
}
.ico-preview{
 background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-preview.gif);
}
.ico-preview-edit{
background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-edit.gif);
}
.ico-sourcecode{
background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-sourcecode.gif);
}
.icon-info{
background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-info.gif);
}
.icon-save{
background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-save.gif);
}
.icon-text{
background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-add.gif);
}
.icon-radio{
 background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-add.gif);
}
.icon-checkbox{
background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-add.gif);
}
.icon-combo{
background-image: url(../../contactform2/ext-2.0/resources/images/default/shared/icon-add.gif);
}
.f_edit {font-family:arial; font-size:11px; font-weight:bold}
h1 .form_title{size: 22px}
#pre-made-fields td { padding-left:10px }